<app-header></app-header>
<div class="container-fluid mainContainer ">
    <div class="row d-flex justify-content-between">
        <div class="col-6">
            <div class="container ms-5">
                <div class="row">
                    <div class="col-12 titleBG d-flex align-items-center">
                        <p class="title ms-3">Trip Planner:</p>
                    </div>
                    <div class="col-1 ">
                        <p class="abSize mt-3 mb-0">A</p>
                    </div>
                    <div class="col-11 mt-3 pe-0">
                        <app-dropdown></app-dropdown>
                    </div>
                    <div class="col-1 ">
                        <p class="abSize mt-3 mb-0">B</p>
                    </div>
                    <div class="col-11 mt-3 pe-0">
                        <app-dropdown></app-dropdown>
                    </div>
                    <div class="col-12 px-0 mt-4">
                        <button (click)="toggle = !toggle" type="button" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div class="row" *ngIf="toggle">
                    <div class="col-12 mt-5 titleBG">
                        <p class = "font30 my-3">Sun, 3/14/2021</p>
                    </div>
                    <div class="col-12 tableBG d-flex">
                        <p class = "font26 my-3 me-5">8:28 PM - 8:54 PM</p>
                        <p class = "font26 my-3 mx-5">0 Hours 26 Minutes</p>
                        <p class = "font26 my-3 ms-5">Price: $3.90</p>
                    </div>
                    <div class="col-12 tableBG d-flex">
                        <p class = "font26 my-3 me-5">8:28 PM - 8:54 PM</p>
                        <p class = "font26 my-3 mx-5">0 Hours 26 Minutes</p>
                        <p class = "font26 my-3 ms-5">Price: $3.90</p>
                    </div>
                    <div class="col-12 tableBG d-flex">
                        <p class = "font26 my-3 me-5">8:28 PM - 8:54 PM</p>
                        <p class = "font26 my-3 mx-5">0 Hours 26 Minutes</p>
                        <p class = "font26 my-3 ms-5">Price: $3.90</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 ">
            <app-navigation></app-navigation>
        </div>
    </div>
</div>