<app-header></app-header>
<div class="container">
    <h3 class="mt-5 mb-4">Schedules By Station Results</h3>

    <div class="row">
        <div class="col-2 headerTitle">
            <app-dropdown></app-dropdown>
            <!-- follow Sean's implementation of the array to build the items in the dropdown -->
        </div>
        <div class="col-2">
            <div class="mb-3">
                <!-- <label for="exampleInputEmail1" class="form-label sr-only">Date</label> -->
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
        </div>
        <div class="col-2 headerTitle">
            <app-dropdown></app-dropdown>
            <!-- follow Sean's implementation of the array to build the items in the dropdown -->
        </div>
        <div class="col-2">
            <app-button buttonText="Get Schedule"></app-button>
        </div>
    </div>

    <h4 class="blueText mt-4">Station Schedule Results for [[station name]]</h4>
    <!-- <b class="blueText">Get another schedule</b> -->

    <div class="row mt-4">
        <div class="col">
            <strong>[[Northbound Platform]]</strong>
            <table class="table">
                <tbody>
                    <!-- use ngFor directive for the data coming in, limit to 11 entries. pull from DataService/APICall -->
                    <tr>
                        <td scope="row">07:31PM</td>
                        <td>Richmond</td>
                    </tr>
                    <tr>
                        <td scope="row">07:31PM</td>
                        <td>Richmond</td>
                    </tr>
                    <tr>
                        <td scope="row">07:31PM</td>
                        <td>Richmond</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <strong>[[Southbound Platform]]</strong>
            <table class="table">
                <tbody>
                    <!-- use ngFor directive for the data coming in, limit to 11 entries. pull from DataService/APICall -->
                    <tr>
                        <td scope="row">07:31PM</td>
                        <td>Richmond</td>
                    </tr>
                    <tr>
                        <td scope="row">07:31PM</td>
                        <td>Richmond</td>
                    </tr>
                    <tr>
                        <td scope="row">07:31PM</td>
                        <td>Richmond</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>