.navBG{
    background-color: #0064A8;
}
img{
    height: 114px;
}
.headerTitle{
    display: flex;
    justify-content: center;
}
.title{
    margin-right: 80px;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}
.seasonThree{
    margin-top: 60px;
    font-size: 30px;
    color: #FFFFFF;
}
.cardMargin{
    margin-top: 150px;
}
.cardOneTop{
    background-color: #50B820;
}
.cardOneBottom{
    background-color: #50B820;
    opacity: 70%;
}
.cardSize{
    height: 200px;
}
.cardTwoTop{
    background-color: #00A1FF;
}
.cardTwoBottom{
    background-color: #00A1FF;
    opacity: 70%;
}
.cardThreeTop{
    background-color: #B73EB7;
}
.cardThreeBottom{
    background-color: #B73EB7;
    opacity: 70%;
}