<div class="container-fluid noPad">
  <app-header></app-header>

  <div class="container-fluid" id="background">
    <div class="row cardMargin">

      <div class="col-4 d-flex justify-content-center">
        <!-- Click event will go on whole card for routing-->
        <div class="card zoom removeBorder " routerLink="/trip-planner">
          <div class="card-body cardOneTop">
            <h3 class="card-title text-center"><b>Fare Calculator</b></h3>
          </div>
          <div class="card-body cardOneBottom cardSize">
            <h1 class="d-flex justify-content-center">
              <i class="fas fa-map-marker-alt fa-3x"></i>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-4  d-flex justify-content-center">
        <!-- Click event will go on whole card for routing-->
        <div class="card zoom removeBorder" routerLink="/schedules">
          <div class="card-body cardTwoTop">
            <h3 class="card-title text-center"><b>Schedules</b></h3>
          </div>
          <div class="card-body cardSize cardTwoBottom">
            <h1 class="d-flex justify-content-center">
              <i class="far fa-clock fa-3x"></i>
            </h1>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-cente">
        <!-- Click event will go on whole card for routing-->
        <div class="card zoom removeBorder" routerLink="/departures">
          <div class="card-body cardThreeTop">
            <h3 class="card-title text-center"><b>Real-Time<br>Departures</b></h3>
          </div>
          <div class="card-body cardSize cardThreeBottom">
            <h1 class="d-flex justify-content-center">
              <i class="fas fa-train fa-3x"></i>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center ">
      <div class="col-8 ">
        <!-- display for Bart advisories -->
        <div class="alert alertColor alert-dismissible fade show mt-5 text-center textColor alertSizing " role="alert">
          <strong>Hey!</strong> This is for the BART advisories to be displayed.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
