<app-header></app-header>

<div class="container-fluid">
<div class="row">

        <div class="col">
            <h3 class="mt-5">Select station to get upcoming departures:</h3>
            <div class="row mb-5">
                <div class="col">
                    <div class="container">
                        <select class=" rounded-0 custom-select optionStyle py-2" id="inputGroupSelect01">
                            <option class="" *ngFor="let item of popArray">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <app-button (click)="toggle = !toggle" buttonText="Select"></app-button>
                </div>
            </div>       
            <table class="table col-lg-10 pt-5">

                <tbody *ngIf="toggle">
                    <!-- use combo structural directive to display the contents of the table based on data being called in -->
                    <th>
                        <div class="row">
                            <div class="col"><i class="fas fa-star"></i>[[12th St. Oakland City Center]]</div>
                            <div class="col rightAlign">[[1:19am]]</div>
                        </div>
                    </th>

                    <!-- platform block, ngFor for each platform entry -->
                    <!-- need to have conditional styling here:
                                IF first in table, top border is not thicc, else top border is thick -->
                    <tr class="thiccTop">
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-4"><b>[[Platform 1]]</b></h5>
                            </div>
                            <div class="col">
                                <h5 class="mt-4 rightAlign"><b>Arriving In:</b></h5>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="row">
                            <div class="col">[[Berryessa]]
                            </div>
                            <div class="col rightAlign">[[10 min (10 car <i class="fas fa-train"></i>) 29 min (8 car)]]
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <!-- BACKEND: ALSO NOTE THAT there is extra padding on the last entry of the platform -->
                        <div class="row mb-5">
                            <div class="col">[[Dublin/ Pleasanton]]
                            </div>
                            <div class="col rightAlign">[[10 min (10 car <i class="fas fa-train"></i>) 29 min (10 car)]]
                            </div>
                        </div>
                    </tr>



                </tbody>
            </table>
            <div *ngIf="toggle" class="col-lg-10 d-flex justify-content-end">
                <p><i class="fas fa-train"></i> = 3 door train <del class="redText">Cancelled Trip</del></p>
            </div>
        </div>

        <div class="col-4">
          <div class="container extraMargin">
                <div class="row">
                    <div class="col-12">
                        <p class="font41 ps-3 pt-1 m-0 titleBGRTD" >Real-Time Departures</p>
                    </div>
                    <div class="col-12">
                        <p class="font33 ps-3 m-0 navLinks bodyBorder" routerLink="/trip-planner">Fare Calculator</p>
                    </div>
                    <div class="col-12">
                        <p class="font33 ps-3 m-0 navLinks bodyBorder" routerLink="/schedules">Schedules</p>
                    </div>
                    <div class="col-12">
                        <p class="font33 ps-3 m-0 navLinks bodyBorder active" routerLink="/departures">Real-Time Departures</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
