<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="mt-5">Select station to get upcoming departures:</h3>
            <div class="row mb-5">
                <div class="col">
                    <div class="container">
                        <select class=" rounded-0 custom-select optionStyle py-2" id="inputGroupSelect01" #departSelector>
                            <option class=""  *ngFor="let item of popArray">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <app-button (click)="passValue(departSelector.value)" buttonText="Select"></app-button>
                </div>
            </div>

            <table class="table pt-5">
                <tbody>
                    <!-- use combo structural directive to display the contents of the table based on data being called in -->
                    <th>
                        <div class="row">
                            <div class="col"><i class="fas fa-star"></i>{{testDepart}}</div>
                            <div class="col rightAlign">{{departTime}}</div>
                        </div>
                    </th>

                    <!-- platform block, ngFor for each platform entry -->
                    <!-- need to have conditional styling here:
                                IF first in table, top border is not thicc, else top border is thick -->
                    <tr class="thiccTop">
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-4"><b>{{lineTest}}</b></h5>
                            </div>
                            <div class="col">
                                <h5 class="mt-4 rightAlign"><b>Arriving In:</b></h5>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="row" *ngFor='let stop of item'>
                            <div class="col">{{stop["@line"]}}
                            </div>
                            <div class="col rightAlign">[[10 min (10 car <i class="fas fa-train"></i>) 29 min (8 car)]]
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="toggle" class="d-flex justify-content-end">
                <p><i class="fas fa-train"></i> = 3 door train <del class="redText">Cancelled Trip</del></p>
            </div>
        </div>

        <div class="col-4">
            <app-navigation></app-navigation>
        </div>
    </div>

</div>