.navBG{
    background-color: #0064A8;
}
img{
    height: 90px;
    cursor: pointer;
}
.headerTitle{
    display: flex;
    justify-content: center;
}
.title{
    /* margin-right: 80px; */
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}
.seasonThree{
    /* margin-top: 15px; */
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
end{
    display:flex;
    justify-content:flex-end;
}