<nav class="navbar navbar-expand-lg navBG">
        <div class="col-3 end">
            <div class="row" routerLink='/home'>
                <div class="col-lg-3">
                    <img src="assets/codestacklogo.png" alt="The Codestack Academy logo">
                </div>
                <div class="col-lg-6">
                    <p class="seasonThree">Season 3</p>
                </div>
            </div>
        </div>
        <div class="col-6 headerTitle">
            <p class="title">BART Web-Application</p>
        </div>

        <div class="col-2 headerTitle">
            <div class="container">
                <select name="manager" #FavList (change)="OnChange(FavList.value)"  class=" rounded-0 custom-select optionStyle py-2" id="inputGroupSelect01">
                    <option class="" *ngFor="let item of Favorites">{{item}}</option>
                </select>
            </div>

        </div>
</nav>