.navBG{
    background-color: #0064A8;
}
img{
    height: 114px;
    cursor: pointer;
}
.headerTitle{
    display: flex;
    justify-content: center;
}
.title{
    margin-right: 80px;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}
.seasonThree{
    margin-top: 60px;
    font-size: 30px;
    color: #FFFFFF;
}
.custom-select {
    max-width: 150px;
    border-color: rgb(161, 161, 161);
    cursor: pointer;
}
.custom-select select {

    -webkit-appearance: none;

}

.optionStyle{
    font-size: 30px;
    min-width: 100%;
}

.container{
    min-width: 100%;
    padding:0;
}