<nav class="navbar navbar-expand-lg navBG">
    <div class="container-fluid">
        <div class="col-1">
            <img src="assets/codestacklogo.png" alt="The Codestack Academy logo" routerLink='/home'>
        </div>
        <div class="col-2">
            <p class="seasonThree">Season 3</p>
        </div>
        <div class="col-6 headerTitle">
            <p class="title">BART Web-Application</p>
        </div>
        <div class="col-2 headerTitle">
            <app-dropdown [popArray] = "dropArray"></app-dropdown>
        </div>
    </div>
</nav>